<div id="<%= dom_id libro %>">
  <p>
    <strong>Name:</strong>
    <%= libro.name %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= libro.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= libro.author %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= libro.genre %>
  </p>

</div>

